<h1>User info</h1>

<div>
  <%= image_tag user.get_profile_image(100,100) %>
  
  <h3><strong>name</strong>   <%= @user.name %></h3>
  
  <h3><strong>Introduction</strong> <%= @user.introduction %></h3>
  <% if@user == current_user %>
  <p><%= link_to "User info",edit_user_path(@user) %></p>
  <% end %>
 
</div>

<% if user_signed_in? %>

<h1>Book detail</h1>
<table>

 <tbody>


    <tr>



    <% if @book.user == current_user %>
    <td><%= link_to "Edit",edit_book_path,class:"btn btn-sm btn-success" %></td>
    <td><%= link_to "Delete",book_path,class:"btn btn-sm btn-danger",method: :delete %></td>
<% else %>

    </tr>



    <% end %>
 <% end %>
  </tbody>
 </table>

 <div class ="row">
  <% if@user == current_user %>
  <a class ="btn btn-outline-secondary btn-block edit_user_path" href="/users/edit">
    <i class="fa-solid fa-user-gear"></i>
  </a>
  <% end %>
  </div>
</div>

<h2 class="mt-3">New book</h2>
<%= form_with model:@book do |f| %>

<div class="form-group">
 <label for="book_title">Title</label>

 <%= f.text_field :title %>
</div>

<div class="form-group">
 <label for="book_opinion">Opinion</label>
 <%= f.text_area :body %>
</div>
<div class="form-group btn btn-success" >
 <%= f.submit 'Create Book',class:'btn btn-sm btn-success' %>
</div>
<% end %>

