<h1>User info</h1>
<%= form_with model:@user do |f| %>
<label for="inputName">Name</label>
<%= f.text_field :name,autofocus: true,id:"inputName",placeholder:"Name" %>

<label for="inputImage">Image</label>
<%= f.file_field :profile_image,placeholder:"Image",accept:"image/*" %>

<label for="inputIntroduction">Introduction</label>
<%= f.text_area :introduction,placeholder:"Introduction" %>

<%= f.submit "Update User",class:'btn btn-sm btn-success' %>
<% end %>