



  <p id ="notice"></p>
  <div class ="container px-5 px-sm-0">
    <div class ="row">
      <div class ="col-md-3">
        <h2>User info</h2>
          <%= image_tag @user.get_profile_image(100,100) %>
             <table class ="table">
             <tbody>
             <tr></tr>
             <tr>
             <th><strong>name</strong></th>
             <th><%= @user.name %></th>
             </tr>
             <tr>
             <th><strong>Introduction</strong></th>
             <th><%= @user.introduction %></th>
             </tr>
             </tbody>
             </table>

             <div class ="row">
             <% if@user == current_user %>
             <%= link_to edit_user_path,class: "btn btn-outline-secondary btn-block",method: :get do %>
             <i class="fa-solid fa-user-gear"></i>
             <% end %>
             
             
             
             <% end %>
            </div>
            </div>

            <% @books.each do |book| %>
            <div>
            <%= link_to book_path(book.id) do %>

            <% end %>

            </div>
            <% end %>
      </div>
    </div>
  </div>

