
<h1>Editing Book</h1>

 <%= form_with model:@book,url:book_path(@book),method: :patch,local:true do |f| %>
  <ul>
 <% if @book.errors.any? %>
    <%= @book.errors.count %> errors prohibited this book from being updatd:
 <%= @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
 <% end %>
  </ul>
 <% end %>





<div class="form-group">
 <label for="book_title">Title</label>

 <%= f.text_field :title %>
</div>

<div class="form-group">
 <label for="book_opinion">Opinion</label>
 <%= f.text_area :body %>
</div>
<div class="form-group btn btn-success">
  <%= f.submit 'Update Book',class:'btn btn-sm btn-success' %>
 </div>
  <%=link_to "Show",book_path(@book.id) %>
  |
  <a class="back" href="/books">Back</a>

 <% end %>