<h1>Book detail</h1>
<table>

 <tbody>


    <tr>

     <%= link_to user_path(@book.user) do %>
     <%= image_tag @book.user.get_profile_image(100,100) %>
     <% end %>
    <td><%= link_to @book.user.name,user_path(@book.user) %></td>
    <td><%= link_to @book.title,edit_book_path(@book.id) %></td>
    <td><%= @book.body %></td>

    <div class ="row">
  <% if@user == current_user %>
  <a class ="btn btn-outline-secondary btn-block edit_user_path" href="/users/edit">
    <i class="fa-solid fa-user-gear"></i>
  </a>
  <% end %>

    </tr>


  </tbody>
 </table>