
<p id="notice"></p>
<div class ="container px-5 px-sm-0">  
 <div class ="row">
  <div class ="col-md-3">
   <%= render 'users/list',user:@user %>
   <%= render 'book',book:@books %>
  </div>
  
  <div class ="col-md-8 offset-md-1">
  <h1>Book detail</h1>
  <table class="table">
  
   <tbody>
  
  
      <tr>
  
       <td><%= link_to user_path(@book.user) do %>
       <%= image_tag @book.user.get_profile_image(100,100) %><br>
       <% end %>
       <%= link_to @book.user.name,user_path(@book.user) %>
       </td>
  
      <td><%= link_to @book.title,book_path(@book.id) %></td>
      <td><%= @book.body %></td>
     <% if @book.user == current_user %>
      <td><%= link_to 'Edit',edit_book_path(@book), class:'btn btn-sm btn-success' %></td>
      <td><%= link_to "Destroy",book_path(@book.id),class:"btn btn-sm btn-danger",method: :delete %></td>
     <% end %>
      </tr>
  
    </tbody>
   </table>
  </div>


 </div>
</div>